@charset "utf-8";
/* CSS Document */

.redbtn {
  background: #e61717;
  background-image: -webkit-linear-gradient(top, #e61717, #e61717);
  background-image: -moz-linear-gradient(top, #e61717, #e61717);
  background-image: -ms-linear-gradient(top, #e61717, #e61717);
  background-image: -o-linear-gradient(top, #e61717, #e61717);
  background-image: linear-gradient(to bottom, #e61717, #e61717);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family:'Exo 2', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.redbtn:hover {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #ff0000);
  background-image: -moz-linear-gradient(top, #ff0000, #ff0000);
  background-image: -ms-linear-gradient(top, #ff0000, #ff0000);
  background-image: -o-linear-gradient(top, #ff0000, #ff0000);
  background-image: linear-gradient(to bottom, #ff0000, #ff0000);
  text-decoration: none;
}
/* Botones Verdes */

.greenbtn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: 'Exo 2', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #68CC69;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.greenbtn:hover {
  background: #48c748;
  background-image: -webkit-linear-gradient(top, #48c748, #48c748);
  background-image: -moz-linear-gradient(top, #48c748, #48c748);
  background-image: -ms-linear-gradient(top, #48c748, #48c748);
  background-image: -o-linear-gradient(top, #48c748, #48c748);
  background-image: linear-gradient(to bottom, #48c748, #48c748);
  text-decoration: none;
}
